spring:
  profiles:
    active: local

    # security
    security:
      oauth2:
        client:
          registration:
            kakao:
              client-id: ${KAKAO_API_KEY}
              redirect-uri: http://localhost:8080/oauth2/callback/kakao
              authorization-grant-type: authorization_code
              client-authentication-method: POST
              scope: profile_nickname, account_email
          provider:
            kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
  # DB
  datasource:
    url: jdbc:postgresql://localhost:5432/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    # DB 구조는 Flyway로 관리. JPA는 검증만 하도록 설정 변경
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true

jwt:
  secret: ${JWT_SECRET}
  expiration-time: 86400000

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE # SQL에 들어가는 파라미터 값 확인
